data
data/*
*.pdf
*.html
.ipynb_checkpoints
.Rproj.user
.Rhistory
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.tex
!report/overleaf/*
*.bbl
*.bcc
*.blg
*.xml
*.bcf
resources/BBD_T2D_writeup_cache/*
